<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/252bf0451b.js" crossorigin="anonymous"></script>
    <title>Attendance Senate</title>

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-4">
                <img src="source/images.jpg" class="img-rounded" height="150" width="200" alt="mapa del congreso">
            </div>
            <div class="col-4">
                <a href="mailto:info@tgif.net"><i class="fas fa-envelope-open-text"></i>info@tgif.net</a>
            </div>

        </div>

        <nav class="navbar navbar-expand-sm navbar-light bg-light border border-dark">
            <!--<a class="navbar-brand" href="#">Navbar</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Congress 113
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="house-data.html">House</a>
                            <a class="dropdown-item" href="senate-data.html">Senate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Attendance
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="Attendance-house.html">House</a>
                            <a class="dropdown-item" href="Attendance-senate.html">Senate</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Party Loyalty
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="housepartyloyalty.html">House</a>
                            <a class="dropdown-item" href="senatepartyloyalty.html">Senate</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>



        <div class="row" id="app">
            <div class="col-6">
                <h2>Attendance</h2>
                <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>

                <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
            </div>
            <div class="col-6">
                <h2>Senate at a glance</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Party</th>
                            <th>Number of Reps</th>
                            <th>% Voted with Prty</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Democrats</td>
                            <td>{{statistics.numDeDemmocrat}}</td>
                            <td>{{statistics.porcDem}}</td>
                        </tr>
                        <tr>
                            <td>Republicans</td>
                            <td>{{statistics.numDeRepublica}}</td>
                            <td>{{statistics.porcIndepen}}</td>
                        </tr>
                        <tr>
                            <td>Independents</td>
                            <td>{{statistics.numDeIndependi}}</td>
                            <td>{{statistics.porcRepubli}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>{{statistics.numberTotalMembers}}</td>
                            <td>{{statistics.porcTotal}}</td>
                        </tr>
                </table>
            </div>

            <div class="row">
                <div class="col">
                    <div style="border-top: 2px solid">
                    </div>
                </div>
            </div>


            <div class="col-6">
                <h2>Least Engaged (Bottom 10% Attendance)</h2>
                <table class="table">
                    <thead class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Number of Missed Votes</th>
                            <th>% Missed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in statistics.listaConMenosMissed">
                            <td><a v-bind:href=item.url>{{item.first_name}}, {{item.last_name}}</a></td>
                            <td>{{item.missed_votes}}</td>
                            <td>{{item.missed_votes_pct }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-6">
                <h2>Most Engaged (Top 10% Attendance)</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Missed Votes</th>
                            <th>% Missed</th>
                        </tr>
                    </thead>
                    <tr v-for="item in statistics.listaConMasMissed">
                        <td><a v-bind:href=item.url>{{item.first_name}},{{item.last_name}}</a></td>
                        <td>{{item.missed_votes}}</td>
                        <td>{{item.missed_votes_pct }}</td>

                    </tr>
                </table>
            </div>

        </div>


        <div class="row">
            <div class="col">
                <footer class="text-center border border-dark">
                    <p>@2006 TGIF All Rights Reserved</p>
                </footer>
            </div>
        </div>
    </div>
    <!--<script src="/js/llenarSenateData.js"></script>-->
    <script src="/js/main.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</body></html>
